.managed-project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.my-projects-header {
  margin-top: 40px;
  margin-bottom: 25px;
  width: 350px;
}

mat-card {
  display: flex;
}

.logo {
  margin-right: 25px;
}
