<div class="my-projects-header">
  <mat-card>
    <img src="../../../../../assets/icons/1087815.svg" style="max-height: 40px; max-width: 40px;" class="logo">
    <h2 *ngIf="userActiveProjects?.length > 0;else elseBlock">Today's Projects</h2>
  </mat-card>
  <ng-template #elseBlock>
    <h2>No Active Projects</h2>
  </ng-template>
</div>

<div class="managed-project-list">
  <app-managed-projects-details
    *ngFor="let project of userActiveProjects"
    [project]="project"
  >
  </app-managed-projects-details>
</div>
