<div class="container">    
    <mat-card-title id="title">Projects</mat-card-title>
    <app-project class="project" *ngFor="let individualproject of this.projects"
        [project]="individualproject"
        [routerLink]="['/project-details', individualproject.id]">
    </app-project>    
</div>