
<mat-toolbar  class="navbar">
  <img src="../../../assets/icons/project-management-planning-Document-512.png" style="max-width: 40px; max-height: 40px;">
  <a mat-button *ngIf="!(this.loggedUser)" [routerLink]="'/home'"> <h1><b>ProMan</b></h1></a>
  <span class="menu-spacer"></span>
  <div *ngIf="this.loggedUser" class="navbar-btns">
    <a mat-button [routerLink]="'/dashboard'"> <h1><b>ProMan</b></h1></a>
    <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <button mat-button [matMenuTriggerFor]="menu">Projects</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/all-projects'" >All Projects</button>
          <button mat-menu-item [routerLink]="'/my-managed-projects'">My Managed Projects</button>
          <button mat-menu-item [routerLink]="'/create-project'">Create</button>
        </mat-menu>
      <a mat-button [routerLink]="'/work-force'"> Work Force </a>
      <a mat-button 
      (click)="this.gotoLogout()"
      class="logout-btn"
      > Logout </a>
  </div>
</mat-toolbar>
