<div class="container">
    <mat-card>
    <div class="element">
        <div id="createform">   
            <div [formGroup]="this.createForm">
                    <mat-card-title>
                        New Project
                    </mat-card-title>

                <!-- Project name -->
                <mat-form-field appearance="outline">
                    <input matNativeControl id="projectname" type="text" formControlName="name" placeholder="Project Name"/>
                </mat-form-field>

                <!-- description -->
                <div>
                    <mat-form-field appearance="outline">
                        <textarea matNativeControl id="description" type="text" formControlName="description" placeholder="Description"></textarea>
                    </mat-form-field>
                    
                </div>

                <div>
                    <!-- target in days-->
                    <mat-form-field appearance="outline">
                        <input formControlName="targetInDays" type="number" matInput id="targetInDays" min='0' placeholder="Target in Days"/>
                    </mat-form-field>
                    
                </div>
                <div>
                    <!-- manager input per day-->
                    <mat-form-field appearance="outline">
                        <input formControlName="managerWorkInputPerDay" type="number" matInput id="managerWorkInputPerDay" min='0' placeholder="Manager Input per Day"/>
                    </mat-form-field>
                    
                </div>
                <!-- create project button -->
        <button  mat-raised-button color="primary" [disabled]="this.createForm.invalid "id="createbutton" type="button" 
        (click)="this.createProject()">Create Project</button>

        
            </div>
        </div>
    
    </div>
</mat-card>
    <mat-card>
        <div class="element">
        <div id="skillForm">
            <div [formGroup]="this.skillForm">
                <mat-card-subtitle>
                    Requirements
                </mat-card-subtitle>
                <!-- Requirement - skill /  -->
                <div>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="skill" placeholder="Requirement">
                            <mat-option *ngFor="let skill of skills" [value]="skill">{{skill}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                <!-- hours for skill-->
                    <mat-form-field appearance="outline">
                        <input formControlName="hoursSkill" type="number" matInput id="hoursSkill" min='0' placeholder="Hours for Skill"/>
                    </mat-form-field>

                    <!-- add requirement button -->
                    <button *ngIf="this.createdProject$" class="button" mat-mini-fab color="primary" (click)="this.addRequirement()" [disabled]="this.skillForm.invalid">
                        <!-- <mat-icon>plus_one</mat-icon> -->
                        <label>+</label>
                    </button>
                </div>
            </div>
            </div>
                
        <div form [formGroup]="this.employeeForm">
            <mat-card-subtitle>
                Assignments
            </mat-card-subtitle>
                <!-- Assignment skill-->
                <mat-form-field appearance="outline">
                    <mat-select formControlName="assignment" placeholder="Assignment">
                        <mat-option *ngFor="let requirement of this.createdRequirements$" [value]="requirement.id">{{requirement.reqSkill}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <!--  employees -->
                <mat-form-field appearance="outline">
                    <mat-select  formControlName="employee" placeholder="Employees">
                        <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- hours for employee -->
                <mat-form-field appearance="outline">
                    <input formControlName="hoursEmployee" type="number" matInput id="hours" min='0' placeholder="Hours from Employee"/>
                </mat-form-field>

                <!-- add assignment button -->
                <button *ngIf="this.createdProject$" class="button" mat-mini-fab color="primary" (click)="this.addAssignment()" [disabled]="this.employeeForm.invalid">
                    <!-- <mat-icon>plus_one</mat-icon> -->
                    <label>+</label>
                </button>
        </div>
   
    </div>
</mat-card>
<mat-card *ngIf="this.createdProject$">
    <div id="displayproject" class="element">
        <div class="board-card">
            <div class="project-row">
            <div class="project-title">
                <b>
                    <h3>{{ this.createdProject$?.name }}</h3>
                </b>
                <!-- </a> -->
            </div>
            <div class="project-details">
                <mat-card-subtitle>
                <div class="project-id">
                    <h6>Project ID: {{this.createdProject$?.id}}</h6>
                </div>
                </mat-card-subtitle>
                <!-- <h5>
                Project Creator: {{this.createdProject$?.projectCreator?.name}}
                </h5> -->
                <h5>Status:     
                    <label class="row" *ngIf="this.createdProject$?.status==='IN_PROGRESS'">In Progress</label>
                    <label class="row" *ngIf="this.createdProject$?.status!=='IN_PROGRESS'">{{this.createdProject$?.status}}</label>
                </h5>
                <h5>Description: {{this.createdProject$.description}}</h5>
                <h5>
                Your Daily Input: {{this.createdProject$?.managerWorkInputPerDay}} hours
                </h5>
                <div class="project-target">
                <h6>
                    Estimation: {{this.createdProject$?.daysUntilCompletion}} days
                </h6>
                <h6>Target: {{this.createdProject$?.targetInDays}} days</h6>
                <h6
                    *ngIf="this.createdProject$.isWithinTarget; else elseBlock"
                    style="color: #28b485;"
                >
                    Within Target
                </h6>
                <ng-template #elseBlock>
                    <h6 style="color: maroon;"> days behind target</h6>
                </ng-template>
                </div>
                <div *ngIf="this.createdRequirements$"><h5>Requirements:</h5>
                    <h6
                    *ngFor="let req of this.createdRequirements$;">{{req.reqSkill}} {{req.totalReqWorkTime}}h
                    </h6>
                </div>
                <div *ngIf="this.createdAssignments$">
                    <h5>Assignments:</h5>
                    <h6
                    *ngFor="let asm of this.createdAssignments$; let i=index">{{this.employees[i]?.name}}{{asm.assignmentSkill}} {{asm.employeeWorkInputPerDay}}h
                    </h6>
                </div>
                <h5>
                Estimated Completion Date: {{this.createdProject$?.estCompletionDate | date: 'longDate'}}
                </h5>
            </div>
            </div>
        </div> 
    </div>
</mat-card>
</div>
