.manager-details {
  margin: 50px 0px 50px 50px;
}

.manager-personal-info {
  margin-top: -15px;
  margin-bottom: 50px;
}

.manager-info-card {
  width: 750px;
}

.manager-state-btns {
  display: flex;
  justify-content: flex-end;
}

.my-profile-btn {
  margin-left: 5px;
  background-color: #673AB7;
  color: #fff;
}

.my-projects-btn {
  margin-left: 5px;
  background-color: #FFC732;
  color: #fff;
}

.my-subordinates-btn {
  margin-left: 5px;
  background-color: #0080A9;
  color: #fff;
}


.manager-email {
  margin-left: 5px;
}

.manager-date {
  margin-left: 5px;
}
