<div id="whole">
  <div id="loginbox">
      <div id="fields">
          <form [formGroup]="this.loginForm">
              <input id="emailinput" #emailInput type="text" formControlName="email" placeholder=" email"/>
              <input id="passwordinput" #passwordInput type="password"  formControlName="password" placeholder=" password"/>
          </form>
      </div>
      <button [disabled]="this.loginForm.invalid "id="loginbutton" type="button" (click)="this.login(emailInput.value, passwordInput.value)">Login</button>
      <!-- <button [disabled]="this.loginForm.invalid " id="registerbutton" type="button" (click)="this.register(usenameInput.value, passwordInput.value)">Register</button> -->
  </div>
  <div id="messages">
      <div class="message" *ngIf="this.loginForm.controls.email.errors && this.loginForm.controls.email.dirty" >email must be at least 5 characters</div>
      <div class="message" *ngIf="this.loginForm.controls.password.errors  && this.loginForm.controls.password.dirty" >password must be at least 5 characters</div>
      <div  class="message" *ngIf="this.error">login error</div>
  </div>
</div>
