<mat-card class="board-card">
  <div class="project-row">
    <div class="project-title">
      <a (click)="selectProject(project.id)">
        <b>
          <h3>{{ project.name }}</h3>
        </b>
      </a>
    </div>
    <div class="project-details">
      <mat-card-subtitle>
        <div class="project-id">
          <h6>Project ID: {{project.id}}</h6>
        </div>
      </mat-card-subtitle>
      <h5>
        Project Creator: {{projectCreator?.firstName}} {{projectCreator?.lastName}}
      </h5>
      <h5>Status: {{project.status}}</h5>
      <h5>
        Your Daily Input: {{project.managerWorkInputPerDay}} hours
      </h5>
      <div class="project-target">
        <h6>
          Estimation: {{project.daysUntilCompletion}} days
        </h6>
        <h6>Target: {{project.targetInDays}} days</h6>
        <h6
          *ngIf="project.isWithinTarget; else elseBlock"
          style="color: #28b485;"
        >
          Within Target
        </h6>
        <ng-template #elseBlock>
          <h6 style="color: maroon;">{{behindTarget}} days behind target</h6>
        </ng-template>
      </div>
      <h5>
        Estimated Completion Date: {{project?.estCompletionDate | date: 'longDate'}}
      </h5>
    </div>
  </div>
</mat-card>
