.board-card {
  margin-bottom: 10px;
  max-width: 350px;
}

.project-id {
  margin-top: -20px;
}

.project-target {
  display: grid;
  grid-template-columns: 30% 25% 35%;
  margin: -25px 0px -25px 0px;
}
