.manager-details {
  margin: 50px 0px 50px 50px;
}

.manager-personal-info {
  margin-top: -15px;
  margin-bottom: 50px;
}

.manager-info-card {
  width: 750px;
}

.manager-state-btns {
  display: flex;
  justify-content: flex-end;
}


.manager-email {
  margin-left: 5px;
}

.manager-date {
  margin-left: 5px;
}
