<div class="manager-details">
  <mat-card class="manager-info-card">
    <div class="manager-personal-info">
      <mat-card-subtitle>
        <b>Full Name</b>
        : {{userInfo?.firstName}} {{userInfo?.lastName}}
        <b class="manager-email">Email</b>
        :
        <a href>{{userInfo?.email}}</a>
        <b class="manager-date">Account Date</b>
        : {{userInfo?.dateCreated | date: 'longDate'}}
      </mat-card-subtitle>
    </div>
    <div class="manager-status">
      <h2>Your Status</h2>
      <h4 *ngIf="userInfo?.isSelfManaged; else elseBlock">Direct Manager: Self-managed</h4>
      <ng-template #elseBlock>
        <h4>Direct Manager</h4>
        <!-- <a>
          {{this.directManager?.firstName}} {{this.directManager?.lastName}}
        </a> -->
      </ng-template>

      <h4>
        Available Work Hours for Today: {{userInfo?.totalAvailableWorkTime}} Hours
      </h4>
      <h4>
        Positions: {{userInfo?.positions.join(', ')}}
      </h4>
    </div>
  </mat-card>
  <!-- <app-manager-subordinates *ngIf="isSubordinates"></app-manager-subordinates>
  <app-managed-projects
    *ngIf="isProjects"
    [userActiveProjects]="this.userActiveProjects"
  ></app-managed-projects> -->
</div>
