.employee-profile {
  margin: 50px 0px 50px 50px;
}

.employee-personal-info {
  margin-top: -15px;
  margin-bottom: 50px;
}

.employee-info-card {
  width: 750px;
}

.employee-email {
  margin-left: 5px;
}

.employee-date {
  margin-left: 5px;
}
