<div class="employee-profile">
  <mat-card class="employee-info-card">
    <div class="employee-personal-info">
      <mat-card-subtitle>
        <b>Full Name</b>
        : {{employeeInfo?.firstName}} {{employeeInfo?.lastName}}
        <b class="employee-email">Email</b>
        :
        <a href>{{employeeInfo?.email}}</a>
        <b class="employee-date">Account Date</b>
        : {{employeeInfo?.dateCreated | date: 'longDate'}}
      </mat-card-subtitle>
    </div>
  </mat-card>
  <app-employee-assignments></app-employee-assignments>
</div>
