<div class="managers-header">
  <mat-card class="managers-card-header">
    <img
      src="../../../../../assets/icons/download.png"
      class="managers-icon"
    >
    <h3>Managers</h3>
  </mat-card>
</div>
<div class="managers">
  <h4 *ngFor="let manager of users">
    <mat-card class="manager-card">
      <h3 class="manager-name">
        <a (click)="selectUser(manager.id)">
          {{manager?.firstName}} {{manager?.lastName}}
        </a>
      </h3>
      <mat-card-subtitle>
        <div class="manager-id">
          <h6>User Id: {{manager?.id}}</h6>
        </div>
      </mat-card-subtitle>
      <h6>
        Email:
        <a href>{{manager?.email}}</a>
      </h6>
      <h6>Positions: {{manager?.positions}}</h6>
      <h6
        *ngIf="manager?.totalAvailableWorkTime > 0; else managerElseBlock"
        style="color: #28b485;"
      >
        Available Work Hours: {{manager?.totalAvailableWorkTime}} hours
      </h6>
      <ng-template #managerElseBlock>
        <h6 style="color: maroon;">No Available Work Hours</h6>
      </ng-template>
      <h6>
        Account Date: {{manager?.dateCreated | date: 'longDate'}}
      </h6>
    </mat-card>
  </h4>
</div>
