.managers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 40px;
}

.manager-id {
  margin-top: -15px;
}

.managers-header {
  margin-top: 50px;
  margin-bottom: -5px;
}

.managers-icon {
  max-height: 40px;
  max-width: 40px;
  margin-right: 25px;
}

.managers-card-header {
  display: flex;
  width: 280px;
}

mat-card {
  width: 250px;
  margin-left: 10px;
}

h6 {
  margin: 8px;
}
