<div>
    <div id="projectdata" [routerLink]="['/project-details', project?.id]">
        <mat-card>
            <!-- <button id="detailsbutton" [routerLink]="['/project-details', project?.id]" >Details</button> -->
            <mat-card-title>{{this.project.name}}</mat-card-title>
            <mat-card-content>{{this.project.description}}</mat-card-content>
        </mat-card>
    </div>
</div>