<div class="employee-header">
  <mat-card class="employee-card-header">
    <img
      src="../../../../../assets/icons/images.jpeg"
      class="employee-icon"
    >
    <h3>Employees</h3>
  </mat-card>
</div>
<div class="employees">
  <h4 *ngFor="let employee of employees">
    <mat-card class="employee-card">
      <h3 class="employee-name">
        <a (click)="selectEmployee(employee.id)">
          {{employee?.firstName}} {{employee?.lastName}}
        </a>
      </h3>
      <mat-card-subtitle>
        <div class="employee-id">
          <h6>Employee Id: {{employee?.id}}</h6>
        </div>
      </mat-card-subtitle>
      <h6>
        Email:
        <a href>{{employee?.email}}</a>
      </h6>
      <h6>Skills: {{employee?.skills.join(', ')}}</h6>
      <h6
        *ngIf="employee.totalAvailableWorkTime > 0; else employeeElseBlock"
        style="color: #28b485;"
      >
        Available Work Hours: {{employee?.totalAvailableWorkTime}} hours
      </h6>
      <ng-template #employeeElseBlock>
        <h6 style="color: maroon;">No Available Work Hours</h6>
      </ng-template>
      <h6>
        Account Date: {{employee?.dateCreated | date: 'longDate'}}
      </h6>
    </mat-card>
  </h4>
</div>
