.employees {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.employee-card {
  margin-top: 10px;
  height: 170px;
}

.employee-id {
  margin-top: -15px;
}

.employee-header {
  margin-bottom: -30px;
}

.employee-icon {
  max-height: 40px;
  max-width: 40px;
  margin-right: 25px;
}

.employee-card-header {
  display: flex;
  width: 280px;
  margin-bottom: 25px;
}

mat-card {
  width: 250px;
  margin-left: 10px;
}

h6 {
  margin: 8px;
}
