.all-subordinates {
  margin-top: 10px;
}

.manager-subordinates {
  margin-bottom: 40px;
}

.manager-subordinate-id {
  margin-top: -15px;
}

.manager-subordinates-header {
  margin-top: 50px;
  margin-bottom: -5px;
}

.manager-subordinates-icon {
  max-height: 40px;
  max-width: 40px;
  margin-right: 25px;
}

.manager-subordinates-card-header {
  display: flex;
  width: 280px;
}


.employee-subordinates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.employee-subordinates-card {
  margin-top: 10px;
  height: 150px;
}

.employee-subordinate-id {
  margin-top: -15px;
}

.employee-subordinates-header {
  margin-bottom: -30px;
}

.employee-subordinates-icon {
  max-height: 40px;
  max-width: 40px;
  margin-right: 25px;
}

.employee-subordinates-card-header {
  display: flex;
  width: 280px;
  margin-bottom: 15px;
}

mat-card {
  width: 250px;
  margin-left: 10px;
}

h6 {
  margin: 8px;
}
