<div class="all-subordinates">
  <div class="manager-subordinates-header">
    <mat-card class="manager-subordinates-card-header">
      <img
        src="../../../../../assets/icons/40_company_organization_structure_hierarchy_leader_subordinates_nodes-512.png"
        class="manager-subordinates-icon"
      >
      <h3>Manager subordinates</h3>
    </mat-card>
  </div>
  <div class="manager-subordinates">
    <h4 *ngFor="let manager of managerSubordinates">
      <mat-card class="manager-subordinates-card">
        <h3 class="manager-subordinate-name">
          <a (click)="selectUser(manager.id)">
            {{manager?.firstName}} {{manager?.lastName}}
          </a>
        </h3>
        <mat-card-subtitle>
          <div class="manager-subordinate-id">
            <h6>User Id: {{manager?.id}}</h6>
          </div>
        </mat-card-subtitle>
        <h6>
          Email:
          <a href>{{manager?.email}}</a>
        </h6>
        <h6>Positions: {{manager?.positions}}</h6>
        <h6
          *ngIf="manager?.totalAvailableWorkTime > 0; else managerElseBlock"
          style="color: #28b485;"
        >
          Available Work Hours: {{manager?.totalAvailableWorkTime}} hours
        </h6>
        <ng-template #managerElseBlock>
          <h6 style="color: maroon;">No Available Work Hours</h6>
        </ng-template>
        <h6>
          Account Date: {{manager?.dateCreated | date: 'longDate'}}
        </h6>
      </mat-card>
    </h4>
  </div>
  <div class="employee-subordinates-header">
    <mat-card class="employee-subordinates-card-header">
      <img
        src="../../../../../assets/icons/images (1).jpeg"
        class="employee-subordinates-icon"
      >
      <h3>Employee subordinates</h3>
    </mat-card>
  </div>
  <div class="employee-subordinates">
    <h4 *ngFor="let employee of employeeSubordinates">
      <mat-card class="employee-subordinates-card">
        <h3 class="employee-subordinate-name">
          <a (click)="selectEmployee(employee.id)">
            {{employee?.firstName}} {{employee?.lastName}}
          </a>
        </h3>
        <mat-card-subtitle>
          <div class="employee-subordinate-id">
            <h6>Employee Id: {{employee?.id}}</h6>
          </div>
        </mat-card-subtitle>
        <h6>
          Email:
          <a href>{{employee?.email}}</a>
        </h6>
        <h6>Skills: {{employee?.skills.join(', ')}}</h6>
        <h6
          *ngIf="employee.totalAvailableWorkTime > 0; else employeeElseBlock"
          style="color: #28b485;"
        >
          Available Work Hours: {{employee?.totalAvailableWorkTime}} hours
        </h6>
        <ng-template #employeeElseBlock>
          <h6 style="color: maroon;">No Available Work Hours</h6>
        </ng-template>
        <h6>
          Account Date: {{employee?.dateCreated | date: 'longDate'}}
        </h6>
      </mat-card>
    </h4>
  </div>
</div>
