<div class="container">
<div id="displayproject" class="element">
    <mat-card class="board-card">
        <mat-card-title> Project {{ this.project$?.name }}
            <button *ngIf="this.project$" id="deletebutton" mat-fab color="warn" (click)="deleteProject()">
                <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="this.project$" id="editbutton" mat-fab color="warn" [routerLink]="['/edit-project', this.project$.id]">
                Edit
            </button>
        </mat-card-title>
        <div class="project-title">
            <b>
                <h3></h3>
            </b>
        </div>
        <div class="project-details">
            <mat-card-subtitle>
            <div class="project-id">
                <h6>Project ID: {{this.project$?.id}}</h6>
            </div>
            </mat-card-subtitle>
            <!-- <h5>
            Project Creator: {{this.project$?.projectCreator?.name}}
            </h5> -->
            <h5>Status:     
                <label class="row" *ngIf="this.project$?.status==='IN_PROGRESS'">In Progress</label>
                <label class="row" *ngIf="this.project$?.status!=='IN_PROGRESS'">{{this.project$?.status}}</label>
            </h5>
            <h5>Description: {{this.project$?.description}}</h5>
            <h5>
            Your Daily Input: {{this.project$?.managerWorkInputPerDay}} hours
            </h5>
            <div class="project-target">
            <h6>
                Estimation: {{this.project$?.daysUntilCompletion}} days
            </h6>
            <h6>Target: {{this.project$?.targetInDays}} days</h6>
            <h6
                *ngIf="this.project$?.isWithinTarget; else elseBlock"
                style="color: #28b485;"
            >
                Within Target
            </h6>
            <ng-template #elseBlock>
                <h6 style="color: maroon;"> days behind target</h6>
            </ng-template>
            </div>
            <div *ngIf="this.reqs$"><h5>Requirements:</h5>
                <h6
                *ngFor="let req of this.reqs$;">{{req.reqSkill}} {{req.totalReqWorkTime}}h                {{req.leftReqWorkTime}}h  left
                </h6>
            </div>
            <div *ngIf="this.assignments$">
                <h5>Assignments:</h5>
                <h6
                *ngFor="let asm of this.assignments$ let i=index;">{{this.employeeNames[i]}} {{asm.assignmentSkill}} {{asm.employeeWorkInputPerDay}}h
                </h6>
            </div>
            <h5>
            Estimated Completion Date: {{this.project$?.estCompletionDate | date: 'longDate'}}
            </h5>
        </div>

    </mat-card> 
</div>
</div>